@import "./variables";

.accordion {
  .document-list {
    padding-left: 1.25rem;
    margin: 0.25rem 0;
    li {
      color: $grey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      margin: 0.25rem 0;
      border-radius: 4px;
      padding: 0.5rem;

      &.completed {
        color: $black;
        .icon {
          svg {
            path {
              fill: $black;
            }
          }
        }
      }

      .document {
        display: flex;
        align-items: center;
        .icon {
          width: 14px;
          padding: 0.25rem 0.35rem 0 0;
        }
      }
    }
  }

  // overwrite mui accordion styling
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    box-shadow: none;
    .css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
      transform: rotate(-90deg);
      svg {
        path {
          fill: $blue;
        }
      }
    }
    .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
      padding: unset;
      min-height: 2rem;
      .css-o4b71y-MuiAccordionSummary-content {
        margin: 0px;
        color: $grey;

        div.is_active {
          color: $black;
        }
      }
    }
    .css-15v22id-MuiAccordionDetails-root {
      padding: unset;
    }
  }
}
