@import "./variables";

.courses {
  .course {
    margin: 0 0.5rem 1rem 0;
    .title {
      color: $light-grey;
      font-size: 0.625rem;
      margin: 0.25rem 0;
      text-transform: uppercase;
    }
  }
}
