@import "./variables.scss";
.App {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 0.8125rem;
  padding: 0 0.75rem;
  hr {
    background: $very-light-grey;
    margin: 1.5rem 0;
    height: 1px;
    border: unset;
  }

  .blue-hover {
    &:hover {
      background-color: $blue;
      color: $white !important;
      .icon,
      .check-icon {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
}
